* {
    background-color:hsl(204, 43%, 93%);
}
#container {
    width: 1440px;
    height: 700px; 
    background: white;
    margin-left: auto; 
    margin-right: auto;
          display: grid;
    grid-template-area: 
        "header header header header"
        "advert advert content content"
        "advert advert content content"
}
#lightcyan {
    background:  rgba(74,190,189,255); 
; 
    grid-area: content;
}
#darkcyan {
   background: rgb(62,183,183);
    grid-area: advert;
}
