* {
    background-color:hsl(204, 43%, 93%);
}
#container {
    width: 1440px;
    height: 700px; 
    background: white;
    margin-left: auto; 
    margin-right: auto;
    grid-template-area: 
        "header header header header"
        "content content advert advert"
        "content content advert advert"
}
#whitebox {
    background-color: rgba(74,190,189,255)
; 
    grid-area: content;
}
